
@{
    ViewBag.Title = "Sql Server - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sql Server - Index</h2>
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("People", "SqlServer")" class="btn btn-block btn-default">Manage People</a>
    </div>
</div>

